<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [55]:
import pandas as pd
import math
import numpy as np

In [6]:
pwd

'C:\\Users\\computer\\Documents\\github_repos\\mlcourse.ai-Fall2019\\First Assignment'

In [7]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [8]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [24]:
data.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [21]:
# Age of the youngest male participants of the 1992 Olympics
data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age'].min()

11.0

In [25]:
# Age of the youngest female participants of the 1992 Olympics
data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age'].min()

12.0

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [30]:
# You code here
data[(data['Sport'] == 'Basketball')].duplicated

<bound method DataFrame.duplicated of             ID                                     Name Sex   Age  Height  \
0            1                                A Dijiang   M  24.0   180.0
167         69                        Tamara Abalde Daz   F  19.0   185.0
250        124                    Youssef Mohamed Abbas   M  31.0     NaN
264        136                         Alessandro Abbio   M  29.0   195.0
346        192       Ahmed El-Sayed Abdel Hamid Mobarak   M  25.0   189.0
359        199                        Amir Abdel Meguid   M  23.0   178.0
360        199                        Amir Abdel Meguid   M  27.0   178.0
363        202                     Awad Abdel Nabi Awad   M  19.0   198.0
364        202                     Awad Abdel Nabi Awad   M  23.0   198.0
490        270                       Alaa El-Din Abdoun   M  23.0   188.0
609        351               Julius Shareef Abdur-Rahim   M  23.0   202.0
641        370                             Shigeaki Abe   M  24.0   178.0
642        370                             Shigeaki Abe   M  28.0   178.0
833        474                  Essameldin Abou El-Nein   M  29.0   205.0
839        480           Youssef Kamel Mohamed Abou Ouf   M  24.0     NaN
840        480           Youssef Kamel Mohamed Abou Ouf   M  28.0     NaN
1018       570                       Pedro Abreu Pascal   M  23.0   200.0
1029       576          Alejandro "lex" Abrines Redondo   M  23.0   198.0
1034       580             Svetlana Olegovna Abrosimova   F  20.0   188.0
1035       580             Svetlana Olegovna Abrosimova   F  28.0   188.0
1181       661                          Emilio Achacoso   M  28.0   178.0
1186       664                     Kieron Robert Achara   M  29.0   208.0
1214       683                   Natalie Chioma Achonwa   F  19.0   190.0
1215       683                   Natalie Chioma Achonwa   F  23.0   190.0
1292       727              Martn Ral Acosta y Lara Daz   M  23.0     NaN
1293       727              Martn Ral Acosta y Lara Daz   M  27.0     NaN
1320       740                  ngel "Mudo" Acua Lizana   M  29.0     NaN
1322       742                             Roberto Acua   M  25.0   208.0
1701       947            Adilson de Freitas Nascimento   M  20.0   195.0
1702       947            Adilson de Freitas Nascimento   M  28.0   195.0
...        ...                                      ...  ..   ...     ...
269474  134838                               Zhu Fangyu   M  21.0   201.0
269475  134838                               Zhu Fangyu   M  25.0   201.0
269476  134838                               Zhu Fangyu   M  29.0   201.0
269608  134906  Olena Mykolaivna Zhyrko (-Marenchikova)   F  24.0   180.0
269609  134906  Olena Mykolaivna Zhyrko (-Marenchikova)   F  28.0   180.0
269627  134922                                  Ji Zdek   M  28.0   206.0
270060  135105                             Zuzana irkov   F  20.0   175.0
270081  135113                   Nikolaos "Nikos" Zisis   M  20.0   195.0
270082  135113                   Nikolaos "Nikos" Zisis   M  24.0   195.0
270119  135138                                 Rajko ii   M  21.0   210.0
270120  135138                                 Rajko ii   M  25.0   210.0
270121  135138                                 Rajko ii   M  29.0   210.0
270278  135203                           Kateina Zohnov   F  27.0   179.0
270360  135241                               Aljoa orga   M  21.0   200.0
270382  135251                             Neboja Zorki   M  22.0   187.0
270444  135273                               Zou Yuchen   M  20.0   203.0
270522  135299                          Michaela Zrstov   F  25.0   186.0
270534  135306                             Tibor Zsiros   M  18.0   195.0
270535  135306                             Tibor Zsiros   M  22.0   195.0
270536  135306                             Tibor Zsiros   M  30.0   195.0
270613  135345               Viktor Alekseyevich Zubkov   M  19.0   202.0
270614  135345               Viktor Alekseyevich Zubkov   M  23.0   202.0
270680  135369                              Dino Zucchi   M  24.0   192.0
270740  135401                       Eurelijus ukauskas   M  22.0   218.0
270741  135401                       Eurelijus ukauskas   M  27.0   218.0
270742  135401                       Eurelijus ukauskas   M  30.0   218.0
270743  135402                       Mindaugas ukauskas   M  20.0   201.0
270744  135402                       Mindaugas ukauskas   M  28.0   201.0
271026  135530                           Philip Zwiener   M  23.0   202.0
271110  135568                   Olga Igorevna Zyuzkova   F  33.0   171.0

        Weight            Team  NOC        Games  Year  Season  \
0         80.0           China  CHN  1992 Summer  1992  Summer
167       72.0           Spain  ESP  2008 Summer  2008  Summer
250        NaN           Egypt  EGY  1952 Summer  1952  Summer
264       85.0           Italy  ITA  2000 Summer  2000  Summer
346       85.0           Egypt  EGY  1972 Summer  1972  Summer
359       67.0           Egypt  EGY  1984 Summer  1984  Summer
360       67.0           Egypt  EGY  1988 Summer  1988  Summer
363       80.0           Egypt  EGY  1972 Summer  1972  Summer
364       80.0           Egypt  EGY  1976 Summer  1976  Summer
490       78.0           Egypt  EGY  1988 Summer  1988  Summer
609      104.0   United States  USA  2000 Summer  2000  Summer
641       70.0           Japan  JPN  1972 Summer  1972  Summer
642       70.0           Japan  JPN  1976 Summer  1976  Summer
833      102.0           Egypt  EGY  1984 Summer  1984  Summer
839        NaN           Egypt  EGY  1948 Summer  1948  Summer
840        NaN           Egypt  EGY  1952 Summer  1952  Summer
1018      88.0            Cuba  CUB  1980 Summer  1980  Summer
1029      93.0           Spain  ESP  2016 Summer  2016  Summer
1034      77.0          Russia  RUS  2000 Summer  2000  Summer
1035      77.0          Russia  RUS  2008 Summer  2008  Summer
1181      78.0     Philippines  PHI  1960 Summer  1960  Summer
1186     110.0   Great Britain  GBR  2012 Summer  2012  Summer
1214      86.0          Canada  CAN  2012 Summer  2012  Summer
1215      86.0          Canada  CAN  2016 Summer  2016  Summer
1292       NaN         Uruguay  URU  1948 Summer  1948  Summer
1293       NaN         Uruguay  URU  1952 Summer  1952  Summer
1320       NaN          Mexico  MEX  1948 Summer  1948  Summer
1322     109.0       Argentina  ARG  2016 Summer  2016  Summer
1701      88.0          Brazil  BRA  1972 Summer  1972  Summer
1702      88.0          Brazil  BRA  1980 Summer  1980  Summer
...        ...             ...  ...          ...   ...     ...
269474   100.0           China  CHN  2004 Summer  2004  Summer
269475   100.0           China  CHN  2008 Summer  2008  Summer
269476   100.0           China  CHN  2012 Summer  2012  Summer
269608     NaN    Unified Team  EUN  1992 Summer  1992  Summer
269609     NaN         Ukraine  UKR  1996 Summer  1996  Summer
269627   100.0  Czechoslovakia  TCH  1972 Summer  1972  Summer
270060    67.0        Slovakia  SVK  2000 Summer  2000  Summer
270081    90.0          Greece  GRE  2004 Summer  2004  Summer
270082    90.0          Greece  GRE  2008 Summer  2008  Summer
270119   110.0      Yugoslavia  YUG  1976 Summer  1976  Summer
270120   110.0      Yugoslavia  YUG  1980 Summer  1980  Summer
270121   110.0      Yugoslavia  YUG  1984 Summer  1984  Summer
270278    63.0  Czech Republic  CZE  2012 Summer  2012  Summer
270360    91.0      Yugoslavia  YUG  1968 Summer  1968  Summer
270382    77.0      Yugoslavia  YUG  1984 Summer  1984  Summer
270444   107.0           China  CHN  2016 Summer  2016  Summer
270522    74.0  Czech Republic  CZE  2012 Summer  2012  Summer
270534    97.0         Hungary  HUN  1948 Summer  1948  Summer
270535    97.0         Hungary  HUN  1952 Summer  1952  Summer
270536    97.0         Hungary  HUN  1960 Summer  1960  Summer
270613    88.0    Soviet Union  URS  1956 Summer  1956  Summer
270614    88.0    Soviet Union  URS  1960 Summer  1960  Summer
270680     NaN           Italy  ITA  1952 Summer  1952  Summer
270740   115.0       Lithuania  LTU  1996 Summer  1996  Summer
270741   115.0       Lithuania  LTU  2000 Summer  2000  Summer
270742   115.0       Lithuania  LTU  2004 Summer  2004  Summer
270743   100.0       Lithuania  LTU  1996 Summer  1996  Summer
270744   100.0       Lithuania  LTU  2004 Summer  2004  Summer
271026    98.0         Germany  GER  2008 Summer  2008  Summer
271110    69.0         Belarus  BLR  2016 Summer  2016  Summer

                  City       Sport                          Event   Medal
0            Barcelona  Basketball    Basketball Men's Basketball     NaN
167            Beijing  Basketball  Basketball Women's Basketball     NaN
250           Helsinki  Basketball    Basketball Men's Basketball     NaN
264             Sydney  Basketball    Basketball Men's Basketball     NaN
346             Munich  Basketball    Basketball Men's Basketball     NaN
359        Los Angeles  Basketball    Basketball Men's Basketball     NaN
360              Seoul  Basketball    Basketball Men's Basketball     NaN
363             Munich  Basketball    Basketball Men's Basketball     NaN
364           Montreal  Basketball    Basketball Men's Basketball     NaN
490              Seoul  Basketball    Basketball Men's Basketball     NaN
609             Sydney  Basketball    Basketball Men's Basketball    Gold
641             Munich  Basketball    Basketball Men's Basketball     NaN
642           Montreal  Basketball    Basketball Men's Basketball     NaN
833        Los Angeles  Basketball    Basketball Men's Basketball     NaN
839             London  Basketball    Basketball Men's Basketball     NaN
840           Helsinki  Basketball    Basketball Men's Basketball     NaN
1018            Moskva  Basketball    Basketball Men's Basketball     NaN
1029    Rio de Janeiro  Basketball    Basketball Men's Basketball  Bronze
1034            Sydney  Basketball  Basketball Women's Basketball     NaN
1035           Beijing  Basketball  Basketball Women's Basketball  Bronze
1181              Roma  Basketball    Basketball Men's Basketball     NaN
1186            London  Basketball    Basketball Men's Basketball     NaN
1214            London  Basketball  Basketball Women's Basketball     NaN
1215    Rio de Janeiro  Basketball  Basketball Women's Basketball     NaN
1292            London  Basketball    Basketball Men's Basketball     NaN
1293          Helsinki  Basketball    Basketball Men's Basketball  Bronze
1320            London  Basketball    Basketball Men's Basketball     NaN
1322    Rio de Janeiro  Basketball    Basketball Men's Basketball     NaN
1701            Munich  Basketball    Basketball Men's Basketball     NaN
1702            Moskva  Basketball    Basketball Men's Basketball     NaN
...                ...         ...                            ...     ...
269474          Athina  Basketball    Basketball Men's Basketball     NaN
269475         Beijing  Basketball    Basketball Men's Basketball     NaN
269476          London  Basketball    Basketball Men's Basketball     NaN
269608       Barcelona  Basketball  Basketball Women's Basketball    Gold
269609         Atlanta  Basketball  Basketball Women's Basketball     NaN
269627          Munich  Basketball    Basketball Men's Basketball     NaN
270060          Sydney  Basketball  Basketball Women's Basketball     NaN
270081          Athina  Basketball    Basketball Men's Basketball     NaN
270082         Beijing  Basketball    Basketball Men's Basketball     NaN
270119        Montreal  Basketball    Basketball Men's Basketball  Silver
270120          Moskva  Basketball    Basketball Men's Basketball    Gold
270121     Los Angeles  Basketball    Basketball Men's Basketball  Bronze
270278          London  Basketball  Basketball Women's Basketball     NaN
270360     Mexico City  Basketball    Basketball Men's Basketball  Silver
270382     Los Angeles  Basketball    Basketball Men's Basketball  Bronze
270444  Rio de Janeiro  Basketball    Basketball Men's Basketball     NaN
270522          London  Basketball  Basketball Women's Basketball     NaN
270534          London  Basketball    Basketball Men's Basketball     NaN
270535        Helsinki  Basketball    Basketball Men's Basketball     NaN
270536            Roma  Basketball    Basketball Men's Basketball     NaN
270613       Melbourne  Basketball    Basketball Men's Basketball  Silver
270614            Roma  Basketball    Basketball Men's Basketball  Silver
270680        Helsinki  Basketball    Basketball Men's Basketball     NaN
270740         Atlanta  Basketball    Basketball Men's Basketball  Bronze
270741          Sydney  Basketball    Basketball Men's Basketball  Bronze
270742          Athina  Basketball    Basketball Men's Basketball     NaN
270743         Atlanta  Basketball    Basketball Men's Basketball  Bronze
270744          Athina  Basketball    Basketball Men's Basketball     NaN
271026         Beijing  Basketball    Basketball Men's Basketball     NaN
271110  Rio de Janeiro  Basketball  Basketball Women's Basketball     NaN

[4536 rows x 15 columns]>

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [56]:
# You code here
mean = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].mean()
np.around(mean, decimals=1)

171.8

In [57]:
stdev = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].std()
np.around(stdev, decimals=1)

6.5

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [66]:
# You code here

data.iloc[(data['Year'] == 2006)]['Weight'].max()

NotImplementedError: iLocation based boolean indexing on an integer type is not available

AttributeError: 'numpy.float64' object has no attribute 'info'

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [71]:
# You code here
data[data['Name'] == 'John Aalberg']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [73]:
# You code here
data[(data['Year'] == 2008) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Gold') & (data['Sport'] == 'Tennis')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [83]:
# You code here
data[(data['Year'] == 2016) & (data['Team'] == 'Spain')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
139,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Individual All-Around,NaN
140,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN
141,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Parallel Bars,NaN
142,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
143,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,NaN
144,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
148,55,Antonio Abadia Beci,M,26.0,170.0,65.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Men's 5,000 metres",NaN
759,433,Pablo Abin Vicen,M,31.0,177.0,68.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
1029,576,"Alejandro ""lex"" Abrines Redondo",M,23.0,198.0,93.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,Bronze
2215,1234,Alessandra Aguilar Morn,F,38.0,165.0,50.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Marathon,NaN
2254,1247,Iaki Aguilar Vicente,M,32.0,189.0,82.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Men's Water Polo,NaN
2264,1254,Macarena Aguilar Daz,F,31.0,170.0,67.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Women's Handball,NaN
2280,1262,Sandra Aguilar Navarro,F,23.0,167.0,50.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Silver
3834,2210,Marina Alabau Neira,F,30.0,164.0,55.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Women's Windsurfer,NaN
3924,2266,Ricard Alarcn Tevar,M,24.0,188.0,110.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Men's Water Polo,NaN
3931,2271,Fernando Alarza Vicente,M,25.0,178.0,67.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Triathlon,Triathlon Men's Olympic Distance,NaN
4013,2314,Markel Alberdi Sarobe,M,24.0,187.0,76.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,NaN
4068,2342,Nely Carla Alberto Francisca,F,33.0,179.0,90.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Women's Handball,NaN
4301,2458,David Alegre Biosca,M,31.0,184.0,75.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,NaN
5569,3151,Eduardo lvarez Aznar,M,32.0,173.0,67.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN
5570,3151,Eduardo lvarez Aznar,M,32.0,173.0,67.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",NaN
5665,3193,Sergio lvarez Moya,M,31.0,174.0,74.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN
5666,3193,Sergio lvarez Moya,M,31.0,174.0,74.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",NaN
5681,3201,Miguel Alvario Garca,M,22.0,180.0,84.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Archery,Archery Men's Individual,NaN
5682,3201,Miguel Alvario Garca,M,22.0,180.0,84.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Archery,Archery Men's Team,NaN
7618,4247,Daniel Andjar Ponce,M,22.0,182.0,78.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 800 metres,NaN
8985,4938,Francisco Arcilla Aller,M,32.0,171.0,58.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 20 kilometres Walk,NaN
9689,5311,Antonio Arroyo Prez,M,22.0,170.0,63.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,"Swimming Men's 1,500 metres Freestyle",NaN
10086,5508,Sabina Asenjo lvarez,F,30.0,178.0,90.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Discus Throw,NaN
11954,6512,Marta Bach Pascual,F,23.0,176.0,66.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235094,117887,Jlia Takcs Nyerges,F,27.0,171.0,53.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 20 kilometres Walk,NaN
236645,118649,Roser Tarrag Aymerich,F,23.0,171.0,62.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
237920,119299,Manel Terraza Farre,M,26.0,184.0,78.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,NaN
240761,120623,Carlos Tobalina Aspirez,M,31.0,188.0,120.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Shot Put,NaN
241701,121064,Pau Gaspar Tonnesen Ricart,M,23.0,185.0,77.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Decathlon,NaN
241970,121200,Cristian Isaac Toro Carballo,M,24.0,188.0,90.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 200 metres",Gold
242043,121237,Alba Torrens Salom,F,26.0,195.0,80.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,Silver
242206,121317,Pablo Torrijos Navarro,M,24.0,185.0,76.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Triple Jump,NaN
242241,121336,Jess Tortosa Cabrera,M,18.0,185.0,58.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Men's Flyweight,NaN
244668,122501,Matas Tudela Perret,M,31.0,188.0,95.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,NaN
246621,123480,Sugoi Uriarte Marcos,M,32.0,172.0,66.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Half-Lightweight,NaN
247578,123953,Lidia Valentn Prez,F,31.0,169.0,75.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Heavyweight,Bronze
247624,123982,David Valero Serrano,M,27.0,189.0,76.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Cycling,"Cycling Men's Mountainbike, Cross-Country",NaN
247705,124022,Jessica Vall Montero,F,27.0,163.0,52.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 100 metres Breaststroke,NaN
247706,124022,Jessica Vall Montero,F,27.0,163.0,52.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Breaststroke,NaN
247883,124119,Alejandro Valverde Belmonte,M,36.0,177.0,63.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Cycling,"Cycling Men's Road Race, Individual",NaN
250970,125703,Pau Vela Maggi,M,30.0,190.0,86.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,NaN
252707,126540,Mara Vilas Vidal,F,20.0,168.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 800 metres Freestyle,NaN
252708,126540,Mara Vilas Vidal,F,20.0,168.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 400 metres Individual Medley,NaN
252839,126592,Erika Villacija Garca,F,32.0,177.0,61.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 10 kilometres Open Water,NaN
252878,126618,"Ignacio ""Iaki"" Villanueva Martn",M,25.0,198.0,103.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,NaN
253467,126917,Borja Vivas Jimnez,M,32.0,204.0,139.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Shot Put,NaN
256343,128355,Marcus Cooper Walz,M,21.0,184.0,82.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",Gold
263725,131976,Jordi Xammar Hernndez,M,22.0,176.0,63.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Men's Two Person Dinghy,NaN
263736,131981,Marta Xargay Casademont,F,25.0,180.0,71.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,Silver
265225,132733,Roco Ybarra Solaun,F,31.0,159.0,54.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Women's Hockey,NaN
267602,133879,frica Zamorano Sanz,F,18.0,170.0,58.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay,NaN
267603,133879,frica Zamorano Sanz,F,18.0,170.0,58.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Backstroke,NaN
267604,133879,frica Zamorano Sanz,F,18.0,170.0,58.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Individual Medley,NaN
267808,133984,"Rayderley Miguel ""Ray"" Zapata Santana",M,23.0,169.0,71.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN

In [ ]:
data[(data['Year'] == 2008) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Gold') & (data['Sport'] == 'Tennis')]

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [11]:
# You code here

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [12]:
# You code here

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [13]:
# You code here

That's it! Now go and do 30 push-ups! :)